body {
    background-color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
header, footer {
    background-color: chartreuse;
}
#site-title {
    color: mediumpurple;
    font-size: 32px;
}