body {
    background-color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
header, footer {
    background-color: chartreuse;
}
.site-title {
    color: mediumpurple;
    font-size: 32px;
}
#my-image {
    box-shadow: 0 0 2px 1px black;
}
ul {
    list-style: square;
}
li:nth-child(odd) {
    background-color: mediumseagreen;
}
a[href] {
    text-decoration: none;
    background-color:mediumpurple;
    border: 1px solid black;
}
a[href]:hover {
    background-color: orangered;
}